body {
  margin: 0;
  font-family: 'Raleway', serif;
  background: #eee;
}

p{
  font-family: 'Raleway', serif;
}

div{
  font-family: 'Raleway', serif;
}

/* Header */
div#nav {
  height: 50px;
  box-shadow: 0px 0px 5px 0px #000;
  background: #A2D85A;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  color: #325400;
  font-size: 12pt;
}

#nav > div{
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:row;
  padding: 0px;
}

.menu-item{
  position: relative;
  display: flex;
  justify-content:center;
  flex-direction:column;
  padding: 0px 5px;
  cursor: pointer;
}

.menu-item:hover{
  background: rgba(255,255,255,0.5);
}

.menu-item.active{
  background: rgba(255,255,255,0.5);
}

#branding{
  margin-left: 35px;
}

#title{
  font-size: 20pt;
  font-family: "TRTL-bold";
}

#account-links{
  margin-right: 35px;
  text-transform: uppercase;
}

#user-name{
  text-transform: none;
}

.hidden{
  display:none !important;
}

/* Nav dropdown */
#nav .dropdown{
  z-index: 5;
  position: absolute;
  top: 50px;
  left: 0;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px #000;
  text-transform: none;
}

#nav .dropdown p{
  margin: 2px;
  color: black;
  border-radius: 2px;
  padding: 3px;
  display: inline-block;
}

.latlon{
  background: #EEE;
  border: 1px dashed #41717B;
}

#nav .dropdown .label{
  color: #666;
  margin: 0px 3px;
}

#wrapper{
  padding-top: 50px;
  height: 100%;
}

/* map */
#map{
  background: #afa;
  position: absolute;
  width: 25%;
  height: 300px;
  right: 0;
  top: 50px;
  margin: 20px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

/* posts */
#posts-wrapper{
    max-width: 800px;
    width: 75%;
    left: 0;
    margin: 0px 10px;
}

#posts{
  height: 100%;
}

@media screen and (min-width: 501px){
  #posts[data-columns]::before{
    content: '2 .column.size-1of2';
  }
}

.column {float: left;}
.column.size-1of1{ width: 100%; }
.column.size-1of2{ width: 50%; }


.post{
  background: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  border-radius: 2px;
  overflow: hidden;
  margin: 20px 10px;
}

.post > div{
  padding: 10px;
}

div.post-top{
  background: none;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-user > div{
  margin: 5px;
}

.post-user > i{
  color: #777;
}

.post-user .anon{
  color: #777;
  text-transform: uppercase;
}

p.post-handle{
  color: #666;
  margin: 0;
}

div.post-content{
  padding: 15px;
  font-size: 13pt;
  white-space: pre-wrap;
}

img.post-image{
  width:100%;
}

.post-meta{
  border-top: 1px solid #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 400;
  background: #ccc;
}

.post-delete{
  color: #777;
  background: none;
  border: 1px solid #777;
  border-radius: 3px;
  text-transform: lowercase;
  font-size: 10pt;
  padding: 2px 4px;
  font-weight: 400;
  cursor: pointer;
}

.post-delete:hover{
  border: 1px solid #f93131;
  background: #f93131;
  color:white;
}

.post.error{
  margin: auto;
  padding: 10px;
  margin: 20px 10px 0px;
  background: #ff9999;
}

/* Posting abilities */
.input{
  background: #fff;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
  border-radius: 2px;
  overflow: hidden;
  margin: 20px 10px 0px 10px;;
}

.input > textarea{
  margin-top: 5px;
  width: calc(100% - 20px);
  vertical-align: middle;
  padding: 10px;
  font-size: 12pt;
  resize:none;
  border:none;
}

.input-controls{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  color: #000;
  text-transform: uppercase;
  font-size: 10pt;
  background: #ded;
  border-top: 1px dashed #333;
}

.input-controls div{
  padding: 10px;
  background: none;
  cursor: pointer;
  font-size: 12pt;
  text-transform: uppercase;
}

.input-controls > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-controls > div:hover{
    background: rgba(0,0,0,0.2);
}

.input-controls select{
  color: black;
}

/* Image handling */
#image-input{
  display: none;
}

#image-thumb{
  border: 1px solid #ddd;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#image-thumb div{
  border: 1px dashed #aaa;
  background: #eee;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
  font-size: 10pt;
  cursor: default;
}

#image-thumb div#clear{
  background: none;
  border: none;
  height: 100%;
  left: 0px;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  color: #aaa;
}


#image-thumb div#clear:hover{
  background: #f93131;
  color: white;
}


/* Errors */
.msg{
  padding: 15px;
}

.msg p{
  margin:0;
}

.msg.error{
  background: #ff9999;
}

.msg.success{
  background: #99ff99;
}


/* LOGIN */
.overlay-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba(0,0,0,0.4);
}

.overlay{
  position: relative;
  top: 20%;
  max-width: 500px;
  margin: auto;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px #000;
}

.overlay form{
  padding: 20px;
  position: relative;
}

.overlay input{
  display: inline-block;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

@media screen and (max-width: 500px){
  div#nav{
    font-size: 11pt;
  }

  #user-name{
    display: none;
  }

  .overlay{
    width: 100%;
    top:50px;
    border-radius: 0px;
  }

  .overlay form{
    padding: 0px;
    position: relative;
  }

  .overlay input{
    width: calc(100% - 32px);
    border-radius: 0px;
    margin: 10px 5px;
  }

  .input{
    border-radius: 0px;
    margin: 20px 0px 0px 0px;
  }

  #posts[data-columns]::before {
		content: '1 .column.size-1of1';
	}

  #posts-wrapper{
    margin: 0px;
  }

  .post{
    border-radius: 0px;
    overflow: hidden;
    margin: 20px 0px;
  }

  #branding{
    margin-left: 0px;
  }

  #title{
    font-size: 17pt;
  }

  #account-links{
    margin-right: 5px;
    text-transform: uppercase;
  }
}

.overlay .close{
  text-align: left;
  border-bottom: 1px solid black;
  background: #ddd;
}

.overlay .close p{
  display: inline-block;
  text-align: left;
  font-family: sans-serif;
  cursor:pointer;
  padding: 10px;
  margin: 0;
  color:#000;
}

.overlay .close p i {
  font-size: 16px;
}

.overlay .close p:hover{
  background: #f93131;
  color:#fff;
}

.overlay input[type=submit]{
  background: #ddd;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.overlay input[type=submit]:hover{
  background: #aaa;
}

/* Friends */
.tabs{
  margin: 5px 5px 0px;
  display: flex;
  justify-content: center;
}

.tabs > div{
  flex-grow:1;
  margin: 5px 5px 0px;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #888;
  border-bottom: 0px;
  color: #888;
  font-size: 11pt;
  text-transform: uppercase;
}

.tabs > div:hover{
  color: #44a;
  border: 1px #44a solid;
  border-bottom: 0px;
  cursor:pointer;
}

.tabs > div.active{
  color: white;
  border:none;
  background: #44a;
}

.follow-page{
  border: 1px solid #44a;
  border-radius: 0px 0px 5px 5px;
  margin: 0px 10px 10px;
  background: none;
}

#follow-form{
  display: flex;
  justify-content: center;
}

#follow-form input[type=text]{
  border-radius: 3px 0px 0px 3px;
  margin: 0;
  border: 1px #44a solid;
  border-right: none;
}

#follow-form input[type=submit]{
  border: none;
  border-radius: 0px 3px 3px 0px;
  margin: 0;
  background: #44a;
  color: white;
}

#follow-form input[type=submit]:hover{
  background: none;
  color: #44a;
  border: 1px solid #44a;
}

.follow-list{
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.follow-item{
  position: relative;
  padding: 10px;
  text-align: left;
  margin: 3px;
  background: #ddd;
  cursor: default;
}

.follow-controls{
  position: absolute;
  right: 0;
  top:0;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: stretch;
}

.follow-controls > div{
  display: flex;
  justify-content:center;
  flex-direction:column;
  padding: 0px 10px;
}

.follow-remove{
  cursor: pointer;
}

.follow-remove i{
  display: inline-block;
}

.follow-remove:hover{
  background: #f93131;
  color: white;
}

.follow-accept{
  cursor: pointer;
}

.follow-accept i{
  display: inline-block;
}

.follow-accept:hover{
  background: #00A0FD;
  color: white;
}

.pending-label{
  color: #00A0FD;
}
